          <div class="card h-100 <%= list.photo.attached? ? "text-white" : "text-dark" %> shadow-sm position-relative d-flex align-items-center justify-content-center"
               style='
                aspect-ratio: 3 / 2;
                <% if list.photo.attached? %>
                background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("<%= cl_image_path list.photo.key, height: 300, crop: :fill %>");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                <% end %>
               '>

            <%= button_to list_path(list),
                method: :delete,
                class: "position-absolute top-0 end-0 m-2 px-1 rounded-3 border-0 bg-danger text-white z-3",
                form: { data: { turbo_confirm: 'Are you sure?' } } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>

            <%= link_to list_path(list), class: "stretched-link text-decoration-none text-reset" do %>
              <div class="card-body text-center h-100">
                <h2 class="card-title"><%= list.name %></h2>
                <h5 class="card-text"><strong>Movies:</strong> <%= list.bookmarks.count %></h5>
              </div>
            <% end %>

          </div>
