<div class="main container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-3"><%= @list.name %></h1>

          <div class="col-8 p-5">
            <h5>Add a movie or series</h5>
            <%= render "bookmarks/form", list: @list, bookmark: @bookmark  %>
          </div>

          <%# ===== SEARCH RESULT ===== %>
          <% if defined?(@item) && @item.present? %>
            <h5 class="mt-4">Search Result:</h5>
            <div class="row">
              <%= render partial: "shared/itemcard", locals: { item: @item, save_icon: true, list: @list } %>
            </div>

          <% elsif params[:query].present? %>
            <p class="text-muted mt-4">No results found for "<%= params[:query] %>".</p>
          <% end %>


          <%# ===== SAVED BOOKMARKS ===== %>
          <% if @list.bookmarks.any? %>
            <h5 class="mt-4">Saved Items:</h5>
            <div class="row">

              <% @list.bookmarks.includes(:bookmarkable).each do |bookmark| %>
                <%= render partial: "shared/itemcard",
                           locals: { item: bookmark.bookmarkable, bookmark: bookmark, list: @list } %>
              <% end %>

            </div>
          <% else %>
            <p class="text-muted">No items saved.</p>
          <% end %>

          <%= link_to "Back to list overview", lists_path, class: "btn btn-secondary mt-4" %>

        </div>
      </div>

    </div>
  </div>
</div>
